<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IpAddress" value="192.168.214.93" />
		<add key="Port" value="5000" />
		<add key="JwtSecretKey" value="TuClaveSuperSecretaYSegura123!@#" />
	</appSettings>
	<connectionStrings>
		<add name="SQLServer" connectionString="Data Source=DESKTOP-OBDPCCI\SQLEXPRESS;Initial Catalog=ProductosDB;Integrated Security=True;TrustServerCertificate=True" />
	</connectionStrings>

</configuration>